h1,h2,h3,h4,h5,h6{
  font-family: "Handlee", cursive;
}


html {
  scroll-behavior: smooth;
}

:root {
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --yellow: rgb(255, 255, 0);
  --pink: #ff009d;
  --whitepink: rgb(255, 190, 190);
  --blackgreen: #2d5a2c;
  --success:#28a745;
  --mix : #761a57;
}

* p{
  font-family: 'Redressed', cursive;
  color: var(--mix);
  letter-spacing: 1.5px;
}

/* header start */
.logo {
  height: 5rem;
}
.navbar {
  padding: 1% 10%;
  /* opacity: 0.8; */
  background-color: var(--white) !important;
}
.nav-link {
  color: var(--success) !important;
  margin: 10px;
  border-radius: 5px;
  transition: 0.4s;
  font-weight: bold;
}
.nav-link:hover {
  background: var(--success);
  color: var(--white) !important;
  transform: scale(1.1);
}
header {
  background-image: url("/img/banner2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-container {
  height: 100vh;
}
.banner-content h1 {
  background-color: var(--blackgreen);
  color: var(--white);
  padding: 1% 10%;
  font-size: 3rem;
  opacity: 0.8;
  
}
.banner-content .button {
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
}
/* header end  */


/* css for Popular Area Works start */

.popular .button{
  border-top-right-radius: 25px ;
  border-bottom-right-radius: 25px;
  transition: 0.4s;
  color: var(--mix);
}

.popular .button:hover{
  color: var(--white) !important;
  transform: scale(1.1);
}

.popular .image{
  border: none !important;
  height: 290px !important;
}

/* css for Popular Area Works end  */


/* css for project comitte start */

.project .card{
  border: none !important;
  transition: 0.4s;
}
.project .card:hover{
  /* color: var(--white) !important; */
  transform: scale(1.1);
  background-color: var(--success);
}

/* css for project comitte end  */


/* css for task start  */

.task a{
  text-decoration: none;
  color: var(--white)!important;
}

/* css for task end  */




/* css for footer  start*/
.footer a{
  text-decoration: none;
}
.hr{
  border: 4px dotted var(--success);
  border-bottom: none;
}
/* css for footer end  */
